<div class="container">
  <div class="row">
    <div class="col-6">
      <form action="/san-pham/save-sua/{{_id}}" method="post" enctype="multipart/form-data">

        <div class="form-group">
          <label for="">Sửa sản phẩm</label>
          <input type="text" name="name" id="" class="form-control" placeholder="" value="{{product.name}}">
        </div>
        <div class="form-group">
          <label for="">Giá</label>
          <input type="text" name="price" id="" class="form-control" placeholder="" value="{{product.price}}">
        </div>
        <div class="form-group">
          <label for="">Giá trước khuyến mại</label>
          <input type="text" name="old_price" id="" class="form-control" placeholder=""  value="{{product.old_price}}">
        </div>
        <div class="form-group">
          <label for="">Ảnh</label>
          <input type="file" name="image" id="" class="form-control" placeholder="" value="{{product.image}}" >
        </div>
        <div class="pull-right">
          <input type="submit" id="" class="btn btn-primary" placeholder="">
          <a href="/" class="btn btn-danger">Huỷ</a>
        </div>
      </form>
    </div>
  </div>
</div>
